$light-color:#f4f4f4;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #0e6cff;
$secondary-color: #FC7C00;

// create a fcunction to set text color based on bg color
@function set-text-color($color){
    // if bg is lightcolor
    @if (lightness($color) > 70) {
        @return #333;
    }
    @else {
        @return #fff;
    }
}

// create mixin to set bg color and text color
@mixin set-bg-text-color($color) {
    background-color: $color;
    color: set-text-color($color);
}

