@import "config";
@import "utilities";
@import "buttons";
@import "mobile";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.5;
}
img{
    width: 100%;
}
.showcase{

    // include the mixin here to set bg and text color
    @include set-bg-text-color($primary-color);
    height: 600px;
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            display: flex;
            list-style-type: none;
        }
        li{
            padding: 15px;
        }
        a{
            color: set-text-color($primary-color);
        }
        a:hover{
            color: $secondary-color;
        }
    } 
    // links outside of nav also follow below styles
    a{
        text-decoration: none;
    }

    &-content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        img{
            width: 50%;
        }
        h1{
            font-size: 50px;
            line-height: 1.2;            
        }
    }

}
